@use "_var.scss" as v;

.header{
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
    z-index: 100;
}
.header__body{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0D0D0D;
}
.main{
    position: relative;
    top: 100vh;
    height: 1000px;
    opacity: 0.1;
    background-color: #0D0D0D;
}


