.body__grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.header{
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
    z-index: 100;
}
.main{
    grid-template-columns: 1/-1;
    grid-row: 1;
    width: 100vw;
    height: 100vh;
    background-color: #0D0D0D;
}
.main__music{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__video{
    filter: opacity(0.7);
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
}
.main__logo{
    position: relative;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    z-index: 10;
    height: 350px;
}
.main__text{
    position: absolute;
    top: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 10;
    margin: 0 25px 0 25px;
}
.main__text--show{
    text-transform: uppercase;
}
.hidden{
    visibility: hidden;
    pointer-events: none;
}
.section{
    color: white;
    background-color: #0D0D0D;
    padding-bottom: 300px;
}