$fontRapport: 1.414;
$fontSize1: 18px;
$fontSize2: $fontSize1*$fontRapport;
$fontSize3: $fontSize2*$fontRapport;
$fontSize4: $fontSize3*$fontRapport;
$fontSize5: $fontSize4*$fontRapport;
$fontColor: #fabf19;
$fontwhite : #FFFFFF;

@font-face {
    font-family: 'Josefin Sans', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
  }
@font-face {
  font-family: 'Federo', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Federo&display=swap');
}
html{
    font-family: 'Josefin Sans', cursive;
    font-size: $fontSize1;
}
.title__big{
  color: $fontwhite;
  font-family: 'Federo';
  font-size: $fontSize3;
}
.title__big--black{
  text-transform: uppercase;
  color: $fontColor;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: $fontColor 2px solid;
  margin: 50px 25px 25px 25px;
}
.title__medium{
  text-align: center;
}
.slider__text{
  text-align: center;
}
.main__text{
  font-family: 'Josefin Sans', cursive;
  font-weight: 600;
  font-size: $fontSize2;
  color: $fontwhite;
}